<div class= "user_page">


<p id="notice"><%= notice %></p>

<h1><%= @user.username  %></h1>

<table class="table-responsive">
  <thead class= "table">
    <tr>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.phone_number %></td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>


<%= button_to 'Send', sendsms_path , class: "btn btn-primary btn-lg active"%>
<%= link_to 'New User', new_user_path %>
</div>
