
<p id="notice"><%= notice %></p>
<div class="dashboard">

  <img src="http://andhrauniversity.edu.in/webnew/images/nopic.png" alt="logo"height="42" width="42">

<h1><%= @user.username  %></h1>

<ul>
  <li>Phone Number: <%= @user.phone_number %></li>
  <li>Email: <%= @user.email %></li>
</ul>

</div>
<div class= "new_user1">

  <%= button_to 'Parkvise!', sendsms_path , class:"btn btn-default btn-circle btn-xl"%>
</div>
