<div class="user_header">
  <%= link_to "Sign Up", new_user_path %>
</div>
<h1>Sign Up For Parkvice Notifications</h1>
<%= form_for @user, url: '/apps/parkvice2/sendsms_path' do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid.</h2>
  <ul>
    <% @user.errors.full_messages.each do |message|%>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :username %> <br>
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :phone_number%> <br>
  <%= f.text_field :phone_number %>
</div>
<div class="field">
  <%= f.label :email %> <br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %> <br>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %> <br>
  <%= f.password_field :password_confirmation %>
</div>
<br>
<div class="actions">
  <%= f.submit "Sign Up" %>
</div>
<% end %>
